# Don't track content of these folders/files
*/scripts/__pycache__
*/scripts/downloads
*.pckl
.vscode.*
.vscode/launch.json
.vscode/settings.json
__pycache__
downloads
.http_log.txt

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.vscode/.ropeproject/*
.DS_Store
scripts/pickles/lang.txt
scripts/pickles/pickle_editor.py